{% extends '::staff_base.html.twig' %}

{% block page_content %}
	<div  class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-2 columns">
        	<div class="page_error_wrapper">
			    <h1>Oops!</h1>
			    <h2>Sorry, the page you requested cannot be found</h2>
			    <p class="lead">We have been notifed of the issue and will rectify as soon as possible. If you have typed the URL please check that it is correct.</p>
			</div>
		</div>
	</div>
{% endblock %}