{# src/MilesApart/AdminBundle/Resources/views/Form/field_errors.html.twig #}
{# Template for the error messages #}
{% block form_errors %}

	{% spaceless %}
		{% if errors|default([])|length > 0 %}
			<p class="text-danger light form_error">
			    {% for error in errors %}
					<li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
			    {% endfor %}
			</p>
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}