{# src/MilesApart/PublicBundle/Resources/views/Page/index.html.twig #}
{% extends 'MilesApartPublicBundle::about_page_layout.html.twig' %}

{# Set the page title, for header and html title tag #}
{% block page_title %}
   	Accessibility
{% endblock %}

{% block meta_description %}
	We try to ensure that our site is accessible to all users. Find out more information or contact us.
{% endblock %}

{# Set the page content #}
{% block page_content %}
    <p class="lead">We have tried to make our website as accessible as possible for all users no matter how they access the site. Please see details below for features utilised to aid accessibility.</p>

    <p class="lead">If you do have any issues or comments, please <a href="{{ path('miles_apart_public_contact_us') }}">contact us</a>.</p>

    <h4>Font Size</h4>
    <p>The browsers we support all feature in-built accessibility tools, allowing you to zoom in on the screen and resize text.

	<p>You can change the text size or adjust the page zoom in your browser by following these instructions:
		<ul>
			<li>PC / Internet Explorer 7 From the menu bar underneath the search field, select Page and point to Text size</li>

			<li>PC / other browsers Increase page zoom: Hold down the CTRL key and press + Decrease page zoom: Hold down the CTRL key and press -</li>

			<li>Mac / all browsers Increase page zoom: Hold down the Command key and press + Decrease page zoom: Hold down the Command key and press -</li>
		</ul>
	</p>

{% endblock %}

{# Create the nav elements as list items, list is created in template #}
{% block right_column %}
    <li class="heading">Accessibility</li>
{% endblock %}