{# src/MilesApart/PublicBundle/Resources/views/Page/index.html.twig #}
{% extends 'MilesApartPublicBundle::about_page_layout.html.twig' %}

{# Set the page title, for header and html title tag #}
{% block page_title %}
    Returns Proceedure
{% endblock %}

{% block meta_description %}
	Information on how we process returns should you have a problem with any items on your order.
{% endblock %}

{# Set the page content #}
{% block page_content %}
	<div>
		<p>To return an item please follow the guidence below. Please ensure you initiate you return within 14 days of receiveing your order</p>

		<ol class="spaced_list">
			<li>This is the first step</li>
			<li>This is the seciond step</li>
		</ol>
	</div>
    
{% endblock %}

