{# src/MilesApart/StaffBundle/Resources/views/Campaigns/view_campaigns.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Set active page for interface highlighting #}
{% set active_page = 'campaigns' %}
{% set current_page = 'view_promotion_types' %}

{% block page_name %}
    View promotion types
{% endblock %}

{% block page_title %}
    View promotion types
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}
    <table class="table table-striped small" id="existing_transfer_request_products">
        <thead>
            <tr>
                <th>Promotion type name</th>
               
                
                <th>Edit</th>
            </tr>
                
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.getPromotionTypeName }}
                    </td>
                
                   
                    <td>
	                    <a href="{{ path('staff-campaigns_edit-promotion-type', { 'id': entity.getId }) }}" class="table-glyphicon" data-toggle="tooltip" data-placement="top" title="Edit">
	                    	<span class="glyphicon glyphicon-pencil"></span>
	                    </a>
                    </td>

                 
                      
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
