<div id="invoice_header" style="height:200px">
    <div class="row">
        <div class="col-md-9" style="height:140px;margin-top:20px">
            <p style="font-size:100px">Invoice</p>
        </div>

        <div class="col-md-3" style="height:100px;">
            <img style="height:100px;" src="{{ asset('images/logos/HomepageLogo.png') }}"/>
            <p style="font-weight:bold;font-size:34px;padding:0px 5px 0px 5px;margin-top:-5px;">Miles Apart</p>
        </div>
    </div>
</div>