{# src/MilesApart/PublicBundle/Resources/views/about_page_layout.html.twig #}
{% extends '::public_base_foundation.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartPublicBundle:Form:fields.html.twig' 'MilesApartPublicBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartPublicBundle:Form:submitted_fields.html.twig' 'MilesApartPublicBundle:Form:field_errors.html.twig' %}
{% endif %}

{% block body %}
    
    {# Create the main body wrapper #}
    <div  class="row show-for-medium-up">
        <div class="large-12 columns">
            {% block breadcrumb %}
                {{ wo_render_breadcrumbs() }}
            {% endblock %}
        </div>
    </div>


    {# Main content row #}
    <div class="row">

        {# Create the right3 column #}
        <div class="large-3 columns show-for-medium-up">
           <ul class="side-nav top_level_side_nav">
                    {% block right_column %}
                        
                    {% endblock %}
            </ul>
        </div>

        {# Create the about text column #}
        <div class="large-9 columns" >

            <!--Info box area placeholder for success/failure messages  (flash messages) -->
            {% for flashMessage in app.session.flashbag.get('public-error') %}
                <div class="flashbag">
                    <div data-alert class="alert-box alert radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}

            {# Flash message for success #}
            {% for flashMessage in app.session.flashbag.get('public-success') %}
                <div class="flashbag">
                    <div data-alert class="alert-box success radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}


            {# Create the page title #}
            <div class="show-for-large-up">
                <h1>
                    {% block page_title %}
                    {% endblock %}
                </h1>
            </div>

            {# Create page content #}
            {% block page_content %}

            {% endblock %}

        {# End of about us text column #}
        </div>
      
    {# End of main content row #}
    </div>

{% endblock %}


