{# src/MilesApart/PublicBundle/Resources/views/homepage_layout.html.twig #}
{% extends '::public_base_foundation.html.twig' %}

{% block body %}
    {# Create the main body wrapper #}
    <div class="row">

    	{# Create the main column #}
    	<div class="large-12 column">

            
            <div id="homepage_main_div">
        		{# Create page content #}
        		{% block page_content %}
                    

        		{% endblock %}
            </div>
    	{# End of about us text column #}
    	</div>

    	

    {# End of main body wrapper #}
    </div>

{% endblock %}