{# src/MilesApart/PublicBundle/Resources/views/homepage_layout.html.twig #}
{% extends '::public_base_foundation.html.twig' %}

{% block body %}
    {# Create the main body wrapper #}
    <div class="row">

    	{# Create the main column #}
    	<div class="large-12 column">

            
            <div id="homepage_main_div">

                <!--Info box area placeholder for success/failure messages  (flash messages) -->
                {% for flashMessage in app.session.flashbag.get('public-error') %}
                    <div class="flashbag" style="margin-top:1rem">
                        <div data-alert class="alert-box alert radius">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                {% endfor %}

                {# Flash message for success #}
                {% for flashMessage in app.session.flashbag.get('public-success') %}
                    <div class="flashbag" style="margin-top:1rem">
                        <div data-alert class="alert-box success radius">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                {% endfor %}


        		{# Create page content #}
        		{% block page_content %}


        		{% endblock %}
            </div>
    	{# End of about us text column #}
    	</div>

    	

    {# End of main body wrapper #}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        swal("Please Note", "This site is not currently accepting orders, products are shown as in-stock so the site can be assessed by our payments provider prior to going live.", "info");
    </script>
{% endblock %}
