{#Set active page for interface highlighting #}
{% set active_page = 'account' %}

{% extends "FOSUserBundle::template_layout.html.twig" %}

{% block page_title %}
	Registration
{% endblock %}

{% block fos_user_content %}
    <h4>Success!!!</h4>
    <p>Thank you for completing you registration.</p>

    <a href="{{ path('miles_apart_public_login_or_register') }}" class="button">Login here</a>

{% endblock fos_user_content %}
