{# src/MilesApart/StaffBundle/Resources/views/PurchaseOrders/add_product_to_purchase_order.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Set active page for interface highlighting #}
{% set active_page = 'purchase_orders' %}
{% set current_page = 'add_product_to_purchase_order' %}

{% block page_name %}
	Add product to purchase order confirmation
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}
    
    <h1>Received</h1>

{% endblock %}

