{# src/MilesApart/StaffBundle/Resources/views/TransferRequests/notifications.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Set active page for interface highlighting #}
{% set active_page = 'transfer_requests' %}
{% set current_page = 'notifications' %}

{% block page_name %}
    Select Business Premises 
{% endblock %}

{% block page_title %}
	Select Business Premises
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}
    <h1>Transfer request business premises</h1>

    <p>Please select the business premises you wish to select products for</p>

    <div class="row">

	    {% for premises in business_premises %}
	    
		  <div class="col-xs-6 col-md-4 shop_selection">
		    <a href="{{ path('staff-transfer-requests_request-products-business-premises-selected', { 'business_premises_slug': premises.getBusinessPremisesSlug }) }}" class="thumbnail">
		      <h4>{{ premises.getBusinessPremisesName }}</h4>
		    </a>
		  </div>
		 {% endfor %}
	</div>
{% endblock %}