/*Styles for Sidebar navigations*/
.nav-header {
	font-size:0.8em;
	text-transform:uppercase;
	color:#999999;
	padding-left:15px;
	padding-top:20px;
}

.nav-header:first-child {
	padding-top:0px;
}

.light {
	font-weight:200;
}

.main_page_header_btn_group {
	
	width:100%;
	padding-top:10px;
}

.main_page_header_btn_group button {
	
	width:100%;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #428bca;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.homepage_left_nav {
	font-size:1.2em;
	padding-top:8px;
	padding-bottom:8px;
}

.form_error {
	margin-top:4px;
	margin-left:-10px;
	font-size:0.9em;

}

.main_content_table {
	margin-top:10px;
}

label.required:after {
    content: " *";
}

.form_control_wrapper select {
  
  float:left;
  
  margin-left:-10px;
  margin-right:20px;
}



h5#print_address_1 {
  margin-top:0px;
  margin-bottom:3px;
}

.content_section_area {
  border-top:1px solid #f5f5f5;
  padding-top:10px;
  padding-bottom:10px;
}

.content_section_btn {
  margin-top:8px;
}

.address_page_email {
  font-size:1.1em;
  text-align: right;

}
.address_page_email .glyphicon {
  margin-bottom:10px;
  padding-top:3px;
}

.address_page_phone {
  font-size:2.1em;
  text-align: right;
}

.show_table th{
  width:200px;
}

.form_list { 
  list-style:none;
  padding:0px;
}

.record_actions {
  list-style:none;
  margin-top:20px;
  padding:0px;
}

.record_actions li{
  float:left;
  margin-right:20px;
}

.navbar {
  font-size:12px;
}