@media print {
	body {
		margin-bottom:100px;
		
		
	}

	#footer_container {
    	 position: fixed;
            bottom: 20;
            
    }

    .page-header {
    	border-bottom:0px;
    }

    #container {
    
    	font-size:12pt;
    	line-height:23px;
    	margin-bottom:-100px;
    }

    ol li {
    	margin-bottom:20px;
    }

    ul {
    	text-decoration:none
    }

    .container_admin_layout_grid {
    	margin-bottom:100px;
    	
    }


}