/*
Styles for different price types
*/


  @page {
    size: 210mm 297mm; /* landscape */
    /* you can also specify margins here: */
    margin: 15mm 0mm 10mm 3mm;
  }



body  
{ 
    /* this affects the margin on the content before sending to printer */ 
    margin-top: 0mm;
    margin-left:0mm;  
} 


div {
      page-break-inside: avoid;
    }


    /* Large shelf front card */
.shelf_front_large_main_wraper {
  position:relative;
  background-repeat: no-repeat;
  width:100mm;
  height:38mm;
  border:0mm ;
  float:left;
  margin-right:0mm;


}

.margin-right div{

  margin-right:5mm;


}

.shelf_front_large_logo {
  position:absolute;
  top:2.9mm;
  right:2.11mm;
  width:0.8cm;

}

.shelf_front_large_supplier {
  position:absolute;
  font-size:7pt;
  text-align:left;
  top:2.9mm;
  color:#959494;
  font-weight:300;
  letter-spacing:0mm;
  margin:0mm 2.65mm 0mm 2.65mm;
}

.shelf_front_large_product_name {
  position:absolute;
  font-size:18pt;
  height:24.17mm;
  overflow:hidden;
  text-align:left;
  top:6.54mm;
  color:#000000;
  font-weight:500;
  letter-spacing:-0.13mm;
  margin:0mm 2.65mm 0mm 2.65mm;
  width:45.97mm;
}

.shelf_front_large_price {

  position:absolute;
  top:5.94mm;
  right:11mm;
  font-size:20.28mm;
  width:3.8cm;
  text-align:center;
  color:#000000;
  font-weight:500;
  letter-spacing:-0.73mm;
  margin-top:0;
line-height:normal;
}

.shelf_front_large_price_subtitle {
  position:absolute;
  z-index:9999;
  font-size:9pt;
  
  text-align:right;
  top:22.94mm;
  left:0mm;
  color:#959494;
  font-weight:500;
  letter-spacing:0mm;
  width:98mm;
  margin-right:0mm;
}

.shelf_front_large_barcode {
  position:absolute;
  z-index:9999;
  font-size:4pt;
  width:3.9cm;
  text-align:left;
  top:31.10mm;
  left:-1.32mm;
  color:#525252;
  font-weight:500;
  letter-spacing:0mm;
  float:left;
  margin:0mm 1.32mm 0mm 1.32mm;
  height:4.32mm;
}

.shelf_front_large_barcode img {
  width:3.6cm;
  height:0.5cm;
  position:absolute;
  top:0mm;
  overflow:hidden;

}


.shelf_front_large_supplier_code {
  position:absolute;
  z-index:9999;
  font-size:5.5pt;
  text-align:right;
  bottom:2.12mm;
  color:#525252;
  font-weight:500;
  letter-spacing:0mm;
  margin:0mm 2.65mm 0mm 2.65mm;
  right:-1mm;
  width:98mm;
  

}

.shelf_front_large_header_shop {

  position:absolute;
  right:4.67mm;
  top:16.4mm;
  
  z-index:9999;
  color:#525252;
  font-weight:500;

}
.shelf_front_large_footer_text {

  position:absolute;
  right:4.76mm;
  bottom:1.06mm;
  font-weight:300;
}