#loadingImage {
  position:absolute;
  width:100%;
  text-align:center;
  margin-top:250px;
}
div.page-header {
  margin-top:70px;
}

/*Styles for Sidebar navigations*/
.nav-header {
	font-size:0.8em;
	text-transform:uppercase;
	color:#999999;
	padding-left:15px;
	padding-top:20px;
}

.nav-header:first-child {
	padding-top:0px;
}

.light {
	font-weight:200;
}

.main_page_header_btn_group {
	
	width:100%;
	padding-top:10px;
}

.main_page_header_btn_group button {
	
	width:100%;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #428bca;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.homepage_left_nav {
	font-size:1.2em;
	padding-top:8px;
	padding-bottom:8px;
}

.form_error {
	margin-top:4px;
	margin-left:-10px;
	font-size:0.9em;

}

.main_content_table {
	margin-top:10px;
}

label.required:after {
    content: " *";
}

.form_control_wrapper select {
  
  float:left;
  
  margin-left:-10px;
  margin-right:20px;
}



h5#print_address_1 {
  margin-top:0px;
  margin-bottom:3px;
}

.content_section_area {
  border-top:1px solid #f5f5f5;
  padding-top:10px;
  padding-bottom:10px;
}

.content_section_btn {
  margin-top:8px;
}

.address_page_email {
  font-size:1.1em;
  text-align: right;

}
.address_page_email .glyphicon {
  margin-bottom:10px;
  padding-top:3px;
}

.address_page_phone {
  font-size:2.1em;
  text-align: right;
}

.show_table th{
  width:200px;
}

.form_list { 
  list-style:none;
  padding:0px;
}

.record_actions {
  list-style:none;
  margin-top:20px;
  padding:0px;
}

.record_actions li{
  float:left;
  margin-right:20px;
}

.navbar {
  font-size:12px;
}

.form-horizontal .control-label {

    margin-bottom:10px;
  }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
    
  }

  .form_submit {
    margin-left:-10px;
  }

  .hide_on_non_xs {
    display:none;
  }

  
}



  @media (min-width: 992px) {
  .form-horizontal .control-label {
    text-align: right;
    
  }
}

.product_results_wrapper {
  margin-bottom:20px;
}

.form_submit {
  margin-top:20px;

}

@media (max-width: 768px) {
  .page_header {
    display:none;
  }

  h1 {
    font-size:18px;
  }

  h3 {
    font-size:16px;
  }

  th {
    font-weight:200;
  }

  .hide_on_xs {
    display:none;
  }

  .breadcrumb {
    font-size:7px;
  }

  .form_submit {
    margin-left:0px;
  }

  .xs_clear {
    clear:both;
  }
}

.csv_mapping_list_custom {
  margin-top:10px;
}

.csv_mapping_list_custom li {
  margin:0px 5px 5px 0px;
}
  
.csv_mapping_list li {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.csv_mapping_list li:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.csv_mapping_list li:hover,
.csv_mapping_list li:focus {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.csv_mapping_list li:active,
.csv_mapping_list li.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.csv_mapping_list>li:first-child {
  padding-left:12px;
}

.csv_mapping_list_required li{
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.csv_mapping_list_required li:hover,
.csv_mapping_list_required li:focus {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

#save_csv_test img {
  margin:60px 0px 0px 220px;

}

.matching_new {
  background-color:rgb(92, 184, 92);
  padding:2px 5px 2px 5px;
}

.matching_existing {
  background-color:rgb(92, 184, 92);
  padding:2px 5px 2px 5px;
}

.not_matching_new {
  background-color:#ed9c28;
  padding:2px 5px 2px 5px;
}

.not_matching_existing {
  padding:2px 5px 2px 5px;

}

.prototype_remove_button {
margin-left:-10px;

}

.prototype_data_content {
  clear:both;
  padding-bottom:40px;
  margin-bottom:20px;
  border-bottom:1px solid #eee;
}

.prototype_add_button {
  margin-left:-10px;
}



.view_business_premises {
  border-bottom:1px solid #eee;
  margin-bottom:20px;
}

.view_business_premises h3 {
  margin-top:0px;
  padding-top:0px;
  margin-bottom:20px;
}

.table-glyphicon {
  padding: 0px 3px 0px 3px;
}

.tooltip {
  font-size:9px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    
    background: #eee;
  }
}

.shop_selection {
  margin:20px 0px 20px 0px;

  text-align:center;
}

.shop_selection h4 {
  padding:20px 0px 20px 0px;
}

.border-top {
  margin:20px 0px 20px 0px;
  border-top:1px solid #eee;
}

.success-colour {
  background-color:#71a01e;
  color:#fff;
}

.error-colour {
  background-color:#db2925;
  color:#fff;
}

#popup_form_response {
  position:fixed;
  z-index:1000;
  bottom:38px;
  height:300px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  display:none;
  background-color:#71a01e;
  background: rgb(113, 160, 30); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(113, 160, 30, .97);
  color:#fff;
  font-size:1.8em;
  padding-top:20px;
}

#popup_form_response_content {
font-size:10px;
}

#popup_form_response_content h5 {
font-size:18px;
}

#popup_form_response_content h6 {
font-size:10px;
font-weight:normal;
}

#popup_form_response_content .form-control { 
  height:24px;
}

@media (min-width: 768px) {
  #popup_form_response {
    height:120px;
    width:100%;
  }
}

@media (max-width: 768px) {
  #popup_form_response {
    min-height:150px;
    max-height:290px;
    width:100%;
    bottom:0px;

  }

  #popup_form_response_content h5 {
    font-size:24px;
  }

  #popup_form_response_content h6 {
    font-size:12px;
    font-weight:normal;
  }

  #new_product_supplier {
    margin-top:5px;
  }


}

.popup_close {
  margin:10px 0px 0px 10px;
}

#popup_price_input {
  position:fixed;
  z-index:99999;
  top:0px;
  display:none;
  background-color: rgba(245, 114, 27, 0.772549);
}

#popup_price_input_form {
  
  border-radius: 4px;
  
}

#found_products_display {
  display:none;
  margin:20px 0px 75px 0px;
}

#compare_date_fields {
  display:none;
}

.edit_product_panel {
  margin-top:20px;
}

.product_thumbnail {
  height:330px;
  position:relative;
  max-width: 100%;
}
.purchase_order_product_thumbnail {
  max-width: 100%;
  }

.thumbnail_product_name {
  height:60px;
  overflow:hidden;
}

.table_small {
  font-size:0.8em;
}

.table_small th {
  font-weight:200;
}

.fixed {
    position:fixed;
    top:60px;
    left:835px;
    box-shadow:0 2px 4px rgba(0, 0, 0, .3);
}

#purchase_order_shopping_basket {
  position:relative;
  max-height:88%;
  overflow:scroll;
}
#outstanding_purchase_orders table {
  margin-bottom:50px;
}

.selected_thumbnail {
  border:2px solid #71a01e;
  
}
#purchase_order_products_table {
  max-height:200px;
  width:100%;
  overflow: scroll;
}
#purchase_order_shopping_basket_wrapper.affix {
  position: fixed;
  z-index:9999;
  padding:15px 0px 10px 0px;
  margin-top:0px;
  top:50px;
  width:100%;
  padding-right:30px;
  background-color:white;
}

@media(max-width:767px){
  #purchase_order_shopping_basket_wrapper.affix  {
    top:50px;
    width:100%;
   padding-right:30px;

  }
}
@media(min-width:768px){
  #purchase_order_shopping_basket_wrapper.affix  {
    top:50px;
    width:720px;
    padding-right:0px;
  }
}
@media(min-width:992px){
  #purchase_order_shopping_basket_wrapper.affix  {
    top:50px;
    width:940px;
    padding-right:0px;

  }
}
@media(min-width:1200px){
  #purchase_order_shopping_basket_wrapper.affix  {
    top:50px;
    width:1150px;
    padding-right:0px;
  }
}




#supplier_purchase_order_page_content {
  position:relative;
}

#shopping_basket_wrapper {
  position:relative;
}

.thumbnail_sub_header {
  font-size:0.6em;
  margin-bottom:0px;
  padding-bottom:0px;
}

.thumbnail_buttons {
  position:relative;
  bottom:-2px;
}

.thumbnail_buttons a {
  margin-right:10px;
}

.table-striped tbody tr.table_row_green td{
  background-color:#71a01e;
  color:#fff;
}

.table-striped tbody tr.table_row_amber td{
  background-color:#eca41c;
  color:#fff;
}

.margin_bottom {
  margin-bottom:10px;
}

#goods_in_pop_up_wrapper h2 {
  font-size:14px;

}

.goods_in_pop_up_area {
  border-bottom:1px solid #fff;
  padding-bottom:0px;
}

.spacer {height:20px;}

textarea.tall_textarea {
  height:100px;
}

@media (max-width:768px) { 
  #suppliers_big_table {
    display:none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:769px) { 
  #suppliers_big_table {
    display:none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
   #suppliers_big_table {
    display:none;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   #suppliers_list {
    display:none;
  }

  #suppliers_big_table {
    display:block;
  }

}


