/*Set tup the page */
html { 
	background-image: url('./../images/backgrounds/bg_texture.png'); 
	height:100%;	
}

body {
	background-color:transparent;
	height:100%;
	width:100%;
	margin:0px 0px 0px 0px;	
}

/*This will hold all content, bg colour white */
#main_content_wrapper {
	background-color:#ffffff;
	padding-right:20px;
	position: relative;
	z-index: 4;
	margin: auto;
	overflow:hidden;
    max-width:1200px;
    margin-bottom:0px;
    margin-top:0px; 
}

#main_body_wrapper {
	min-height:350px;
	overflow:auto;
}

.main_page_content {
	background-color:white;
	border-radius:3px;	
	padding:20px;
	padding-bottom:5px; 
}

.navbar {
	margin-top:8px;
	margin-bottom:8px;
	margin-left:5px;
}

.dropdown-toggle {
	font-size:14px;
	padding-right:3px;
	padding-left:3px;
}




.miles-apart-logo-main {
	
}

.main_logo img {
	width:40px;
}

.header_logo_text {
	margin-top:0px;
	padding:0px 4px 0px 4px;
	font-weight:800;
}

@media(max-width:767px){
	.header_logo_text {
		font-size:1.18em;
	}

	.main_logo img {
		width:100px;
	}

}


.page_header_container {
	
	background-image:url('./../images/web/header_tab.png');
	background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top:20px;
    

}

.navbar-default { 
	background-color:white;

}
.page-header {
	
	background-image:url('./../images/web/header_tab.png');
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 985px -18px; 
    
	
}

.right_header {
	height:142px;
}

.main_search {

	margin-top:30px;
	font-size:1.9em;
}

.main_search .form-control{ 
	font-size:1.1em;
	height:60px;
}

h3 {
	margin-top:20px;
}



a.dropdown-toggle.colour_1:link, .colour_1 {
	color: #384275;
}

a.dropdown-toggle.colour_2:link, .colour_2 {
	color: #10866e;
	
}
a.dropdown-toggle.colour_3:link, .colour_3 {
	color: #5f7a1d;
}

a.dropdown-toggle.colour_4:link, .colour_4 {
	color: #ada013;
}

a.dropdown-toggle.colour_5:link, .colour_5 {
	color: #eea620;
}

a.dropdown-toggle.colour_6:link, .colour_6 {
	color:#e76d18;
}

a.dropdown-toggle.colour_7:link, .colour_7 {
	color: #cd0949;
}

a.dropdown-toggle.colour_8:link, .colour_8 {
	color: #bb335b;
}

a.dropdown-toggle.colour_9:link, .colour_9 {
	color: #881443;
}

a.dropdown-toggle.colour_10:link, .colour_10 {
	color: #4d1a53;
}

a.dropdown-toggle.colour_1:visited, .colour_1 {
	color: #384275;
}

a.dropdown-toggle.colour_2:visited, .colour_2 {
	color: #10866e;
	
}
a.dropdown-toggle.colour_3:visited, .colour_3 {
	color: #5f7a1d;
}

a.dropdown-toggle.colour_4:visited, .colour_4 {
	color: #ada013;
}

a.dropdown-toggle.colour_5:visited, .colour_5 {
	color: #eea620;
}

a.dropdown-toggle.colour_6:visited, .colour_6 {
	color:#e76d18;
}

a.dropdown-toggle.colour_7:visited, .colour_7 {
	color: #cd0949;
}

a.dropdown-toggle.colour_8:visited, .colour_8 {
	color: #bb335b;
}

a.dropdown-toggle.colour_9:visited, .colour_9 {
	color: #881443;
}

a.dropdown-toggle.colour_10:visited, .colour_10 {
	color: #4d1a53;
}

a.dropdown-toggle.colour_1:hover, .colour_1 {
	color: #2E3760;
}

a.dropdown-toggle.colour_2:hover, .colour_2 {
	color: #0B5B4B;
	
}
a.dropdown-toggle.colour_3:hover, .colour_3 {
	color: #4E6317;
}

a.dropdown-toggle.colour_4:hover, .colour_4 {
	color: #938810;
}

a.dropdown-toggle.colour_5:hover, .colour_5 {
	color: #D18D10;
}

a.dropdown-toggle.colour_6:hover, .colour_6 {
	color:#CB6115;
}

a.dropdown-toggle.colour_7:hover, .colour_7 {
	color: #B00740;
}

a.dropdown-toggle.colour_8:hover, .colour_8 {
	color: #A02C4F;
}

a.dropdown-toggle.colour_9:hover, .colour_9 {
	color: #6A1034;
}

a.dropdown-toggle.colour_10:hover, .colour_10 {
	color: #2B0F2F;
}

#navigation_drop_down_area {
	
	height:300px;
	background-color:#222222;
	width:1140px;
	
	position:absolute;
	top:50px;
	left:-2000px;

}


  .top-bar-section.active > a:not(.button) {
      background-color: #555555;

     
        color: #FFF;
     
    }
    .dropdown .active > a:not(.button) {
      background-color: rgba(0,0,0,.2);
    }
  }
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #428bca;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  background-color:white;

}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  background-color:transparent;
}

a.dropdown-toggle:link {

text-decoration:none;
}



a.dropdown-toggle:hover {

text-decoration:none;
}

a.dropdown-toggle:active {

text-decoration:none;
}

#defaultmenu {
	background-color:white;
	border-radius:3px;
	padding-left:10px;
	padding-right:0px;
	
}

#homepage_banner {
	width:100%;
	
	
	border-radius: 3px;
}

#homepage_banner h2 {
	font-size:4em;
	margin-top:0px;
}

#homepage_banner h4 {
	font-size:2em;
	margin-top:0px;
	margin-bottom:0px;
}

#homepage_banner_text {
	padding:30px 30px 10px 30px;
	text-align:right;
}

#homepage_shops {
	border-top:1px solid #eee;
	font-size:1.7em;
	padding-top:20px;
	margin-bottom:20px;
}

#homepage_shops h4{
	font-size:1.8em;
}

#homepage_shops h5{
	font-size:1.1em;
	text-align:center;
	margin-bottom:10px;
}

#homepage_shops h6{
	font-size:0.8em;
	text-align:center;
	margin:0px 20px 10px 20px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}

#homepage_shops img {
	width:207px;
	padding:2px;
	background-color:#eee;
	border-radius:5px;
	margin-left:20px;
	margin-bottom:10px;
}

#homepage_shops address {
	font-size:0.6em;
	padding:0px 20px 0px 20px;
	margin:10px 20px 0px 20px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}

#category_banner_images img {
	width:75%;
	margin:10px 40px 20px 40px;


}

#category_banner_images p {
	margin-top:-10px;
	padding:0px 40px 10px 40px;
	font-size:0.8em;

}

#homepage_shop_amesbury {
	border-right:1px solid #eee;
}

#homepage_shop_westbury {
	
}

#homepage_main_div {
	padding:20px;
	padding-top:10px;
	background-color: white;
	border: 1px solid #f5f5f5;
}

.homepage_shop_area {
	border-right:1px solid #eee;
	background-color:#f9f9f9;
}

.well {
	margin-top:30px;
}

#category_description h4 {
	margin-top:30px;
	font-size:2em;
}

a.text-muted {
	color:#999999;
}

.header_subtitle {
	margin-left:-80px;
	padding-top:85px;
	font-size:2em;

}

.copy_column{
	height:145px;
}

.phone {
	font-size:0.7em;
}

#right_column {
	background-color:#fff;
	border-radius:3px;
	padding-top:30px; 
	padding-bottom:40px;
	border:1px solid #f5f5f5;
}

.thumbnail {
	height:390px;
}
.thumbnail img{
	
	margin-left:15px;
	margin-right:15px;
	margin-top:10px;
}

.breadcrumb {

}

.main_content_area {
	background-color: white;
	border:1px solid #f5f5f5;
	margin-top:0px;
	padding:20px;
	padding-top:10px;
	border-radius:3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

p {
	font-weight:normal;
	font-size:1.1em;
	margin-bottom:15px;
}

.small-email {
	font-size:0.75em;
}

.homepage_rotated_header {
	
    max-width:200px;
    position:relative;
}

.homepage_content_area {
	width:100%;
	border-bottom:1px solid #eee;

}

.homepage_content_area p{
	margin-left:0px;
	margin-top:20px;

}

#our_story {
	height:200px;
}

#our_shops {
	height:560px;
	border:none;

}

#our_new_arrivals {
	height:400px;
	}

.carousel-inner {
	border-radius:2px;
}

a.carousel-control.left {
	border-radius:2px;
}

a.carousel-control.right {
	border-radius:2px;
}

.breadcrumb {
	background-color:transparent;
	font-size:.85em;
	margin-top:0px;
	margin-bottom:10px;
	padding:0px;

}

.product_page_main_image {
	
}

.product_page_price {
	font-size:5.0em;
	margin-bottom:0px;
	margin-top
	width:100%;
}

.caption {
	padding-top:0px;
	margin-top:0px;
}

.caption h4 {
	padding-top:0px;
	margin-top:0px;
}

.thumbnail_product_name { 
font-size:0.9em;
}

.thumbnail_product_name:link {
	color:#333333;

}

.thumbnail_product_name:visited {
	color:#333333;
}

.thumbnail_product_name:hover {
	color:#111111;
	text-decoration:none;
}
.thumbnail_price {
	font-size:2.6em;
	margin-top:4px;
	padding-top:0px;
	line-height:25px;
	padding-left:0px;
}

.thumbnail p {
	margin:0px;
	margin-bottom:5px;
}

.thumbnail_bottom {
	margin-top:10px;
}

.category_thumbnail {
	height:200px;
}

.product_thumbnail_image {
	height:240px;
	width:242px;
}


.thumbnail_category_name { 
font-size:1.1em;
}

.thumbnail_category_name:link {
	color:#333333;

}

.thumbnail_category_name:visited {
	color:#333333;
}

.thumbnail_category_name:hover {
	color:#111111;
	text-decoration:none;
}

#basket_bar_wrapper {
	background-color:#fbf8da;
	height:50px;
	border-radius:5px;
	padding:5px;
	font-size:1.1em;
}


#basket_bar {
	background-color:#f1e77e;
	height:40px;
	border-radius: 2px 0px 0px 2px;
	padding:8px;
	padding-left:20px;
	border:1px solid #ebdd47;
	
	float:left;
}

#basket_bar_checkout_link {
	background-color:#b4d85a;
	margin-left:148px;
	padding:8px;
	padding-left:15px;
	height:40px;
	border-radius: 0px 2px 2px 0px;
}

/* Set up responsive elements, columns will be set using bootsrap scaffolding */
@media(min-width:768px){
	.header_logo_text {
		font-size:1.80em;
		margin-left:10px;
	}
	.main_logo img {
		margin-left:10px;
	}

	
}
@media(min-width:992px){
	.header_logo_text {
		font-size:1.85em;
		margin-left:10px;
		color:black;
	}
	.main_logo img {
		margin-left:10px;
	}

	
}
@media(min-width:1200px){
	.header_logo_text {
		font-size:2.17em;
		padding-left:27px;
		font-weight:700;
	}
	.main_logo img {
		width:165px;
		padding-left:0px;
	}
}

.sticky-content{
  background: #DDD;
  padding: 10px;
}

.sticky-content.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}