{# src/MilesApart/StaffBundle/Resources/views/layout.html.twig #}
{% extends '::staff_base.html.twig' %}

{% block page_content %}
	<div class="col-lg-8 col-lg-offset-2">
	{% block form_content %}
	{% endblock %}
</div>
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}