<div class="row">
    <div class="large-12 columns">
        <div class="homepage_header"></div>
        <h3 class="text-center homepage_header_text"><span>Our Story</span></h3>
    </div>
    
    {# Text area #}
    <div class="small-12 medium-8 columns">

		<p class="lead">Miles Apart was established in 2012 by Lyn Miles, one of the founding partners of Miles Of Value. We are based in Amesbury, Wiltshire with two shops and our head office in the town. We also have a shop in Westbury, also in Wiltshire.</p>

        <p>With our roots as market traders on Salisbury market, we still aim to offer a wide range of useful and interesting products at competitive prices in our stores and, since 2016, online.</p>

        <p>As anyone who has been to one or store will know, there are thousands of products to be added to this site, which may take some time. Please bear with us while we make our full range available online and do pop in to one of our stores to see our full range.<br/>

        <a href="{{ path('miles_apart_public_about_us') }}">Read more about us</a></p>

    </div>

    {# Image area #}
    <div class="small-12 medium-4 columns">
        <img src="{{ asset('images/about_us/market.jpg') }}" class="homepage_market_image"/>
    </div>
</div>