{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/category.html.twig' %}

# Set  current page for interface highlighting #}
{% set current_page = 'all_employees' %}

{# Set the page title #}
{% block title %}
    Show Keyword Specific Category
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Show Keyword Specific Category           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View keyword specific category relationships
{% endblock %}

{% block page_content -%}

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('category_keyword-specific-category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('category_keyword-specific-category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
