{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div data-alert class="alert-box alert">
            <!-- Your content goes here -->
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
