{% extends 'MilesApartPublicBundle::user_bundle_layout.html.twig' %}

{% block page_content %}
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
